.unit-table {
  width: calc(100% - 30px);
  margin: 0 15px 30px;
  border-collapse: collapse;
}

.unit-table th,
.unit-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

/* Column 1: SL. */
.unit-table th:nth-child(1),
.unit-table td:nth-child(1) {
  width: 20px;
  text-align: center;
}

/* Column 2: Unit Name */
.unit-table th:nth-child(2),
.unit-table td:nth-child(2) {
  width: 150px;
  white-space: nowrap;
  text-align: center;
}

/* Column 3: Status */
.unit-table th:nth-child(3),
.unit-table td:nth-child(3) {
  width: 80px;
  white-space: nowrap;
  text-align: center;
}

/* Column 4: Action */
.unit-table th:last-child,
.unit-table td:last-child {
  width: 10px;
  white-space: nowrap;
  text-align: center;
}

.unit-table th {
  background-color: #f4f4f4;
}

.btn {
  padding: 6px 10px;
  font-size: 13px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
}

.btn-update {
  background-color: #007bff;
}

.btn-delete {
  background-color: #dc3545;
  margin-left: 5px;
  border: none;
}

h2 {
  margin-top: 72px;
  text-align: center;
}